.duration-list {
    width: 100%;
    padding: 25px 15px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
}
.duration-list li {
    list-style: none;
    padding: 0px 0px 12px 0px;
    margin: 0px 0px 12px 0px;
    width: 100%;
    color: var(--textcolor);
    line-height: normal;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 16px;
}
.inclusion-div {
    width: 100%;
    padding: 30px 11px;
    margin: 25px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
    float: left;
}
 .inclusion-div ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
 .inclusion-div ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 12px;
    margin: 4px;
    font-size: 15px;
    background:#008CBA ;
    /* float:left; */
    border-radius: 3px;
    color: #fff;
}

.booking{
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
    
}
.bookform{
    background-color: rgb(241, 241, 241);
}